*{
  margin: 0;
  padding: 0;
}

:root {
  /* Brand */
  --primary: #3B2ED0;   
  --secondary: #6D5AE6;
  --accent: #F97316;    

  /* Backgrounds */
  --bg-app: #F5F6FA;  
  --bg-surface: #FFFFFF; 
  --bg-soft: #EEF0F7;  

  /* Text */
  --text-main: #1F2937;
  --text-muted: #6B7280;

  /* Buttons */
  --button-text: #FFFFFF;

  /* UI */
  --radius-lg: 16px;
  --radius-md: 10px;
  --shadow-soft: 0 10px 28px rgba(0,0,0,0.08);
}



[data-theme="dark"] {
  --primary: #8B5CF6;
  --secondary: #A78BFA;
  --accent: #F97316;

  --bg-app: #0B1020;
  --bg-surface: #111827;
  --bg-soft: #1F2937;

  --text-main: #E5E7EB;
  --text-muted: #9CA3AF;

  --button-text: #FFFFFF;
}
